/*
Evo Slider Lite v1.1.0 - jQuery slideshow and content slider plugin
http://evoslider.com

Copyright 2012, Fikri Rakala

Skin Name: Evo Slider Default Theme

Date: 11 April 2012
*/ 

/*
TABLE OF CONTENTS

01 SLIDER
02 DIRECTION NAVIGATION
03 CONTROL NAVIGATION ( BULLETS )
*/
 
 
/*  _______________________________________

	01 SLIDER
    _______________________________________  */
	
/* Container / frame surrounding the slider */
.evoslider.default
{
	position: relative;
	width :100%; /* set width via option */
	height :360px; /* set height via option */
    margin: 0 auto;
	border: 10px solid sienna;
	padding: 5px;
	background :sienna;
	overflow : visible ;
	
	/* shadow */
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#4e4e4e, direction=120, strength=5)";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#4e4e4e, direction=120, strength=5);  
}

/*
Slider title bar.

The title bar are rotated, so you will need to swap your directions.
To change the width of the title bar, you will need to modify the height property.
You will also need to make sure that any background imagery used is rotated horizontally.

To give unique custom appearance for each title, you can give a unique class for each title, for example:
	.evoslider dt.slide_1
	.evoslider dt.slide_2
	.evoslider dt.slide_3
	etc...
*/ 
.evoslider.default dt {
  background: none repeat scroll 0 0 #E65F07;
  border: 1px solid #B24801;
  color: tan;
  font-family: Arial,Verdana;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  height: 45px;
  letter-spacing: 1px;
  line-height: 40px;
  padding-left: 20px;
  text-align: left;
  text-shadow: -1px 1px 1px snow;
  text-transform: uppercase;
}

/* The hover state of the title bar */ 
.evoslider.default dt:hover
{	background:#D35909;
	cursor :pointer ;
	color: #4e4e4e;
  box-shadow:0 0 8px #03AC3E;z-index:999;margin-top: 5px;
}
dd p {
  color: #FFFFFF;
  font-size: 17px;
  font-style: italic;
  padding:2px 0px 0px 15px;
}
#mySlider > dl > dd > p > a > img {
  box-shadow: 0 0 10px snow;
  float: left;
  height: auto;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 5px;
  width: 200px;
}
.evoslider.default dt{transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-0-transition: all 0.9s ease 0s;}
dd{transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-0-transition: all 0.9s ease 0s;}
/* The active state of the title bar */
.evoslider.default dt.active
{	margin:0 5px 5px;
	color: 4e4e4e;
	background:#D55908;
	cursor :default;box-shadow:0px 0px 8px #03AC3E;z-index:999;
}

/* 
The slide content area

The width and height will automatically be defined by the plugin.
*/
.evoslider.default dd 
{
	background: url(bg.png);
}

/*  _______________________________________

	03 DIRECTION NAVIGATION
    _______________________________________  */

/* The arrow next */
.evoslider.default .arrow_next 
{
	position :absolute ;
	right : 10px;
	top : 150px;
	width : 35px;
	height : 34px;
	background : url('arrows.png') no-repeat -35px 0;
	cursor : pointer ;
	margin :0;
	padding :0;
	border : 0;
	text-decoration: none;
}

/* The hover state of the arrow next */
.evoslider.default .arrow_next:hover
{
	cursor: pointer;
}

/* The arrow prev */
.evoslider.default .arrow_prev 
{
	position :absolute ;
	left: 10px;
	top: 150px;
	width: 35px;
	height: 34px;
	background : url('arrows.png') no-repeat 0 0;
	cursor :pointer ;
	margin :0;
	padding :0;
	border :none;
	text-decoration: none;
}

/* The hover state of the arrow prev */
.evoslider.default .arrow_prev:hover 
{
	cursor: pointer;
}


/*  _______________________________________

	04 CONTROL NAVIGATION ( BULLETS )
    _______________________________________  */

/* Control navigation container */
.evoslider.default .controlNav 
{
	left : 10px;
	bottom : 10px;
	margin :0;
	border : 0;
}

.evoslider.default .control_wrapper 
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* Control list */
.evoslider.default .controlNav ul 
{
	overflow: visible;
	margin: 0;
	padding: 0;
	border: 0;
}

/* The bullets control */
.evoslider.default .controlNav li.bullets 
{
	width : 20px;
	height : 20px;
	margin : 5px;
	padding :0;
	border :none;
	background : #eee;
	overflow: visible;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	color: #4e4e4e;
}

/* Bullet last item */
.evoslider.default .controlNav li.bullets.last 
{
}

/* The hover state of the bullets control */
.evoslider.default .controlNav li.bullets:hover
{
	background: #4e4e4e;
	color: #fafafa;
}

/* The active state of the bullets control */
.evoslider.default .controlNav li.bullets.active 
{
	background: #4e4e4e;
	color: #fafafa;
}
article > .entry-content dl, .comment-content dl {
  margin: 0px;
}